.navigation{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    z-index: 2;
    .nav_above,.nav_below{
        display: flex;
        justify-content: flex-end;  
        padding: 10px 20px;
        .start_nav_link{
            text-decoration: none;
            color: $main_text;
        }
    }
  
    .above{
        color: $grey;
        padding: 10px 20px;
        border:  0.75px solid transparent;
        &:hover{
            border: 0.75px solid $yellow;
            
        }
    }
    .below{
        font-size: 1.1rem;
        padding: 10px 20px;
        border: 0.75px solid transparent;
        &:hover{
            border: 0.75px solid $grey;
            
        }
   
    }
}
  .link{
        padding: 0 20px;
        text-decoration: none;
        color: $main_text;
       
    }
    .nav_background{
        background-color: white;
    }