.form_section {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/Background-Contact-Form.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  position: relative;
  &::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
  }
  .form {
    z-index: 1;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    flex-direction: column;
    padding: 0 110px 0 0;
    h2 {
      font-size: 2rem;
      padding: 60px;
      text-align: center;
    }
    .decoration {
      position: absolute;
      left: initial;
      height: 3vh;
      left: 22%;
      top: 37%;
    }
    .sended{
      color: green;
      position: relative;
      font-size: 0.9rem;
      text-align: center;
      padding: 10px 50px;
      width: 70%;
    }

    form {
      display: flex;
      flex-direction: column;
      .name_mail_area {
        display: flex;
        position: relative;
        justify-content: space-around;
        
        div {
          position: relative;
          .error {
            left: 10%;
          }
        }
      }
      label {
        padding: 20px 20px 2px 20px;
        display: inline-block;
      }

      input {
        display: block;
        border: none;
        padding: 10px 10px 0 0;
        border-bottom: 1px solid $grey;
        background-color: transparent;
        &::placeholder {
          color: #3c3c3c26;
        }
      }
      .text_area_div {
        position: relative;
        width: 100%;
        label {
          width: 100%;
        }

        textarea {
          display: block;
          border: none;
          border-bottom: 1px solid $grey;
          background-color: transparent;
          position: relative;
          width: 100%;
          height: 100px;

          &::placeholder {
            position: absolute;
            bottom: 5px;
            color: #3c3c3c26;
          }
        }
      }
      .send_button {
        display: flex;
        justify-content: flex-end;
        padding: 25px;
        .send {
          border: 1px solid $grey;
          padding: 13px 33px;
        }
      }
    }
  }
  .error {
    color: red;
    font-size: 0.7rem;
    position: absolute;
    left: 5%;
  }
}
