@import "./reset.scss";
@import "./settings/fonts";
@import "./settings/colors";




body{
    font-family: $font-base;
    font-size: 12px;
    color: $main_text;
}

@import "./head_header.scss";
@import "./home_content.scss";
@import './head_three_columns.scss';