@import "./reset.scss";
@import "./settings/fonts";
@import "./settings/colors";

body {
  font-family: $font-base;
  font-size: 12px;
  color: $main_text;
  box-sizing: border-box;
}

@import "./head_header.scss";
@import "./home_content.scss";
@import "./head_three_columns.scss";
@import "./home_how_to_use_it.scss";
@import "./home_about_us.scss";
@import "./home_who_we_help.scss";
@import "./home_form.scss";
@import "./home_footer.scss";
@import "./sign_and_register.scss";
