@import "./reset.scss";
@import "./settings/fonts";
@import "./settings/colors";




body{
    font-family: $font-base;
    font-size: 12px;
}

@import "./head_header.scss";

.content_banner{
    background-image: url("../assets/Hero\ Image.png");
    width: 45vw;
    height: 900px;
   
   background-position-x: right;
    background-size: cover;
}