
.register,
.signing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  h2 {
    font-size: 2rem;
    padding: 25px;
  }
  p {
    height: 3vh;
    left: 0;
    width: 12%;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f1f1;
    padding: 40px;
    label {
      padding: 15px;
    }
    input {
      display: block;
      padding: 8px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $grey;
    }
  }
  div{
    padding: 35px 0;
    .sign{
      margin: 0 115px;
      padding: 10px;
      font-size: 0.9rem;
      border: 1px solid transparent;
      &:hover{
        border: 1px solid $grey;

      }
      
    }
  }
}

  